<!DOCTYPE html>
<html>
<head>
<title>現場調查測試版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="css/main.css"/>

</head>
<body>

    <div id="map"></div>
    <div id="app">
    
        <h4>表單輸入</h4>
        <div v-for="field in fields" class="field">
            {{ field.fieldName }}：
            <input type="checkbox" v-model="fieldContent[field.fieldName]" v-if="field.fieldType == 'checkbox'">
            <input type="number" v-model="fieldContent[field.fieldName]" v-if="field.fieldType == 'number'">
            <input type="text" v-model="fieldContent[field.fieldName]" v-if="field.fieldType == 'text' && field.fieldName !='調查時間'">
            <input type="text" v-model="fieldContent[field.fieldName]" v-if="field.fieldType == 'text' && field.fieldName =='調查時間'" readonly>

        </div>

        <button v-on:click="edit">修正此點資料</button><br>

        <label>新增點位時採用</label>
        <input type="radio" id="GPS" value="GPS" v-model="picked">
        <label for="GPS">GPS座標</label>
        <input type="radio" id="center" value="center" v-model="picked">
        <label for="center">地圖中心</label><br>


        <button v-on:click="add">新增點位</button>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"></script>
    <script src="js/map.js"></script>
    <script src="js/main.js"></script>


</body>
</html>