<!DOCTYPE html>
<html>
<head>
<title>google連接測試</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="css/main.css"/>

</head>
<body>

    <div id="map"></div>
    <div id="app">
    
        <div v-for="field in fields" class="field">

            {{ field.fieldName }}：
         
            <input type="checkbox" v-model="fieldContent[field.fieldName]" v-if="field.fieldType == 'checkbox'">
            <input type="number" v-model="fieldContent[field.fieldName]" v-if="field.fieldType == 'number'">
            <input type="text" v-model="fieldContent[field.fieldName]" v-if="field.fieldType == 'text' && field.fieldName !='Time'">
            <input type="text" v-model="fieldContent[field.fieldName]" v-if="field.fieldType == 'text' && field.fieldName =='Time'" readonly>
            

        </div>

        <button v-on:click="callupdate">刷新數據</button>
        <button v-on:click="add">新增</button>
        <button v-on:click="edit">修改原有</button>
          <!-- {{update}}   -->

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"></script>
    <script src="js/map.js"></script>
    <script src="js/main.js"></script>


</body>
</html>